<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/admin.css" th:href="@{/css/admin.css}" type="text/css"/>
  </head>
  <body>
    <header>
      <form class="admin-title-container" th:action="@{/logout}">
        <h1 class="admin-title" th:text="${login}">adminlogin</h1>
        <button type="submit" class="logout-button">Log out</button>
      </form>
      <h1 class="test-statistics-title">Результаты тестов:</h1>
    </header>
    <div class="container">
        <span th:each="test:${tests}">
         <span th:insert="~{templates::adminPageTest(testName=${test.name}, completeCount=${test.completeCount}, average=${test.average}, id=${test.id})}"></span>
        </span>
    </div>
  </body>
</html>
