<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../static/css/statistics.css" th:href="@{/css/statistics.css}" type="text/css"/>
</head>
  <body>
    <header>
      <div class="title-container">
        <h1 class="test-title" th:text="${testName}">Название теста</h1>
        <button type="button" class="logout-button" onclick="location='http://localhost:8080/admin'">Назад</button>
      </div>
      <h1 class="test-statistics-title">Результаты теста:</h1>
    </header>
    <div class="container">
      <table class="statistics-table">
        <tr>
          <th>Имя пользователя</th>
          <th>Результат</th>
        </tr>
        <tr th:each="result : ${results}">
          <td th:text="${result.user.username}"></td>
          <td th:text="${result.result}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
