<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <form class="test-div" th:fragment="testersPageTest(testName,completeCount,average,id)" th:action="@{/tester/creator}" method="get">
        <div class="test-title-container">
            <h3 class="test-title" th:text="${testName}"></h3>
        </div>
        <div class="test-chooser-container">
            <h3 class="test-description" th:text="${completeCount}"></h3>
            <h3 class="test-description" th:text="${average}"></h3>
         </div>
        <button type="submit" th:value="${id}" name="testId" class="yellow-button">Редактировать</button>
    </form>
    <form class="test-div" th:fragment="usersPageTest(testName,testDescription,testResult,id)" th:action="@{/user/test}" method="get">
        <div class="test-title-container">
            <h3 class="test-title" th:text="${testName}">Название теста</h3>
        </div>
        <div class="test-description-container">
            <label class="test-description" th:text="${testDescription}">Описание теста длинной до 200 символов</label>
        </div>
        <div class="test-chooser-container">
            <h3 class="test-description" th:text="${testResult}">Результат, если тест пройден</h3>
        </div>
        <button type="submit" name="testId" class="yellow-button" th:value="${id}">Пройти тест</button>
    </form>
</body>
</html>