<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/tester.css" th:href="@{/css/tester.css}" type="text/css"/>
  </head>
  <body>
    <header>
      <form class="user-title-container" th:action="@{/logout}" method="post">
        <h1 class="user-title">userlogin</h1>
        <button type="submit" class="logout-button">Log out</button>
      </form>
      <form class="test-list-title-container" th:action="@{/tester/creator}" method="get">
        <h1 class="test-access-title">Ваши тесты:</h1>
        <button class="add-test-button" name="testId" value="-1">Добавить тест</button>
      </form>
    </header>
    <div class="container">
      <span th:each="test:${tests}">
        <span th:insert="~{templates::testersPageTest(testName=${test.name}, completeCount=${test.completeCount}, average=${test.average}, id=${test.id})}"></span>
      </span>
    </div>
  </body>
</html>
