<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/test.css" th:href="@{/css/test.css}" type="text/css"/>
  </head>
  <body>
    <header>
      <div class="test-title-container">
        <h1 class="test-title" th:text="${testName}">Название теста сверху</h1>
      </div>
      <div class="test-question-container">
        <!--<div class="question-image-container">-->
          <!--<img src="image.png" alt="" class="question-image">-->
        <!--</div>-->
        <h1 class="test-question" th:text="${question}"></h1>
      </div>
      <form class="options-container" th:action="@{/user/answer}" method="get">
        <input hidden th:value="${questionId}" name="questionId"/>
        <input hidden th:value="${currentResult}" name="currentResult"/>
        <button type="submit" name="answer" value="1" class="option-button" th:text="${option1}">1 вариант ответа</button>
        <button type="submit" name="answer" value="2" class="option-button" th:text="${option2}">2 вариант ответа</button>
        <button type="submit" name="answer" value="3" class="option-button" th:text="${option3}">3 вариант ответа</button>
        <button type="submit" name="answer" value="4" class="option-button" th:text="${option4}">4 вариант ответа</button>
      </form>
    </header>
  </body>
</html>
