<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>userPage</title>
    <link rel="stylesheet" href="../static/css/user.css" th:href="@{/css/user.css}" type="text/css"/>
  </head>
  <body>
    <header>
      <div class="user-title-container">
        <h1 class="user-title">userlogin</h1>
        <button type="button" name="button" class="logout-button">Log out</button>
      </div>
      <h1 class="test-access-title">Доступные тесты:</h1>
    </header>
    <div class="container">
      <div class="test-div">
        <div class="test-title-container">
          <h3 class="test-title">Название теста</h3>
        </div>
        <div class="test-description-container">
          <label class="test-description">Описание теста длинной до 200 символов</label>
        </div>
        <div class="test-chooser-container">
          <h3 class="test-description">Результат, если тест пройден</h3>
        </div>
        <button type="button" name="choose test" class="yellow-button">Пройти тест</button>
      </div>
      <div class="test-div">
        <div class="test-title-container">
          <h3 class="test-title">Название теста</h3>
        </div>
        <div class="test-description-container">
          <label class="test-description">Описание теста длинной до 200 символов</label>
        </div>
        <div class="test-chooser-container">
          <h3 class="test-description">Результат, если тест пройден</h3>
        </div>
        <button type="button" name="choose test" class="yellow-button">Пройти тест</button>
      </div>
      <div class="test-div">
        <div class="test-title-container">
          <h3 class="test-title">Название теста</h3>
        </div>
        <div class="test-description-container">
          <label class="test-description">Описание теста длинной до 200 символов</label>
        </div>
        <div class="test-chooser-container">
          <h3 class="test-description">Результат, если тест пройден</h3>
        </div>
        <button type="button" name="choose test" class="yellow-button">Пройти тест</button>
      </div>
    </div>
  </body>
</html>
