<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>userPage</title>
    <link rel="stylesheet" href="../static/css/user.css" th:href="@{/css/user.css}" type="text/css"/>
  </head>
  <body>
    <header>
      <form class="user-title-container" th:action="@{/logout}" method="post">
        <h1 class="user-title" th:text="${login}"></h1>
        <button type="submit" class="logout-button">Log out</button>
      </form>
      <h1 class="test-access-title">Доступные тесты:</h1>
    </header>
    <div class="container">
      <span th:each="test:${tests}">
        <span th:insert="~{templates::usersPageTest(testName=${test.name}, testDescription=${test.description}, testResult=${test.currentResult}, id=${test.id})}"></span>
      </span>
    </div>
  </body>
</html>