.user-title-container{
  align-items: center;
  vertical-align: middle;
  height: 5em;
  background-color: #064650;
  display: flex;
}

.test-list-title-container{
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.add-test-button{
  border-style: solid;
  border-color: #064650;
  background-color: #ccee00;
  color: #064650;
  font-size: 1.5em;
  height: 40px;
}

.user-title{
  width: 90%;
  margin-left: 20px;
  color: white;
}

.test-access-title{
  width: 85%;
  color: #064650;
  margin-left: 20px;
}

.logout-button{
  color: white;
  background-color: #064650;
  font-size: 1.5em;
  border-style: solid;
  border-color: #064650;
}

.container{
  margin-left: 50px;
  float: left;
}

.test-div{
  border-width: 2px;
  border-style: solid;
  border-color: #064650;
  width: 600px;
  height: 160px;
  margin-top: 30px;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
box-shadow: 0 0 10px #064650;
}

.test-title-container{
  background-color: #064650;
  height: 40px;
  margin-top: 0px;
  justify-content: left;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.test-title{
  margin-left: 10px;
  color: white;
}

.test-description-container{
  width: 560px;
  height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.test-description{
  color: #2a7a78;
}

.test-chooser-container{
  margin-left: 20px;
}

.yellow-button{
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  width: auto;
  background-color: #ccee00;
  border-style: solid;
  border-color: #064650;
  color: #064650;
  font-size: 1.4em;
  font-weight: 400;
  box-shadow: 0 0 10px #064650;
}
